body, input {
	font-family: Georgia, sans-serif;
	font-size: 16px;
}

input {
	-webkit-appearance: none;
	border: none;
	height: 25px;
}

body {
	background: url(../img/background.jpg);
	background-repeat: repeat;
}

#content {
	overflow: hidden;
	max-width: 47em;
	margin: 0 auto;
}

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	z-index: 10;
	opacity: 0.7;
	color: #fff;
	font-size: 2em;
	text-align: center;
	padding-top: calc(20% - 1em);
	font-weight: bold;
}

.ajax-loader {
	position: relative;
	top: 3px;
}

#name-entry {
	display: none;
	margin: 0 auto;
}

#name-entry input[type=text] {
	width: 20em;
	max-width: 100%;
}

#is-hungry {
	display: none;
	font-weight: bold;
}

#is-hungry-name {
	color: #AA0000;
}

#rollcall {
	float: left;
	margin-right: 1em;
	padding: 0.5em;
	background-color: rgba(224, 224, 224, 0.8);

	position: relative;
	max-width: calc(600px - 1em);
	width: calc(364px - 1em);
	margin-top: 0;
	margin-left: 0 !important;
	height: calc(300px - 1em);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: #050933 2px 2px;
}

.eat {
	position: relative;
	cursor: pointer;
	max-width: 600px;
	width: 364px;
	float: left;
	margin-top: 0;
	margin-left: 0 !important;
	margin-right: 0;
	height: 300px;
	overflow: hidden;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: #050933 2px 2px;
}

.eat:active {
	box-shadow: #050933 -2px -2px;
}

#eat-now {
	background-image: url(../img/eat-now.JPG);
	background-position: 79% 26%;
}

#eat-10min {
	background-image: url(../img/eat-10min.JPG);
	background-position: 79% 35%;
}

#eat-plus1 {
	background-image: url(../img/eat-plus1.jpg);
	background-position: 35% 26%;
}

.buttons .button:nth-child(odd) {
	margin-right: 1em;
}

.eat span {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(50% - 1.25em);
	color: #fff;
	font-size: 2.5em;
	font-weight: bold;
	max-width: 600px;
	text-shadow: 2px 2px #000;
}

#hunger-control {
	width: 75%;
	float: right;
}

.attendee-name {
	display: block;
}

#attendee-list {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 189px;
	margin-top: 0;
}

#attendee-container .headline {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 0;
}

.input-container {
	overflow: hidden;
}

.input-container span, .input-container input {
	width: calc(50% - 2px);
	margin: 0 0 0.5em 0;
	padding: 0;
}

.input-container span {
	display: block;
	float: left;
}

.input-container input {
	float: right;
}

@media only screen and (max-width: 736px) {
	#hunger-control {
		float: none;
		width: 100%;
	}

	#rollcall {
		float: none;
		width: calc(100% - 2px - 1em);
	}

	.eat {
		width: 100%;
		float: none;
		margin-right: 0 !important;
		margin-top: 1em;
	}
}

@media only screen and (min-width: 321px) {
	.eat {
		background-position: 50% 26%;
	}
}