.eat {
	float: left;
	width: calc(50% - 20px);
	position: relative;
	cursor: pointer;
	height: 800px;
	width: 600px;
	max-width: 600px;
	background-repeat: no-repeat;
}

#eat-now {
	background-image: url(../img/eat-now.JPG);
}

#eat-10min {
	background-image: url(../img/eat-10min.JPG);
}

.eat:first-child {
	margin-right: 10px;
}

.eat:last-child {
	margin-left: 10px;
}

.eat span {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(50% - 1.25em);
	color: #fff;
	font-size: 2.5em;
	font-weight: bold;
	max-width: 600px;
	text-shadow: 2px 2px #000;
}

@media only screen and (max-width: 1300px) {
	.eat {
		width: 100%;
		float: none;
		margin-left: 0 !important;
		margin-right: 0 !important;
		height: 300px;
		overflow: hidden;
		background-position: 50% 26%;
	}
}